*.*
!.gitignore
!composer.json

admin/*.*
admin/view/javascript/jquery
catalog/*.*
image/*.*
install/
system/config/*
system/engine/*
system/helper/*
system/storage/*
system/library/*
!system/library/cloudpay/*

!**/cloudpay/**/*.*
!cloudpay*

.DS_Store
